html {
    background-color: lightgray;
}
  
h1 {
    text-align: center;
}
  
p#description {
    text-align: center;
}
  
#form {
    display: flex;
    justify-content: center;
}
  
form {
    background-color: white;
    width: 300px;
    display: inline-block;
    border: 10px solid black;
    padding: 10px;
    padding-bottom: 10px;
}
  
label {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
  
input {
    padding: 5px;
}
  
#female-label {
    margin-left: 66px;
}
  
#other-label{
    margin-left:  66px;
}
  
#vehicle1 {
    margin-left: 13px;
}
  
#vehicle2 {
    margin-left: 13px;
}
  
#vehicle3 {
    margin-left: 13px;
}
  
textarea {
    margin-left: 10px;
}
  
#submit {
    float: right;
    margin-right: 10px;
}